*{
  margin: 0px;
}
html{
  cursor:url(imagenes/pepinillo.cur), auto;
}

a:hover{
  cursor:url(imagenes/Portal.cur),auto;
}
body{
  justify-content: center;
  text-align: center;
  background: url(imagenes/fondo\ rick\ y\ morty.jpg);
  background-repeat:no-repeat;
  padding: 10px;
  background-size: cover;
  padding: 10px;
}
#bodyPersonajes{
  justify-content: center;
  text-align: center;
  background: url(imagenes/fondo\ rick\ y\ morty.jpg);
  background-repeat:repeat-y;
  background-size:contain;
}
#bodyEpisodios{
  justify-content: center;
  text-align: center;
  background: url(imagenes/fondo\ rick\ y\ morty.jpg);
  background-repeat:no-repeat;
  background-size:100%;
}
header{
  padding: 20px;
}
#logo{
 margin: 0 0 0 0px;
 width: 800px;
}
@font-face{
  font-family: RickMorty1;
  src:url(letraSinopsis.TTF);
  }
  @font-face {
    font-family:letrarick;
    src:url(letrarick.ttf);
  }

/*------------------navegador-------------*/
nav li{
display: inline;
padding-inline: 0px;
margin: 0 0 0 0;
}
#btnInicio{
width: 150px;
margin: 0 50px 0 0px;
}
#btnPersonajes{
  width: 150px;
  margin: 0 50px 0 0px;
  }
  #btnEpisodios{
    width: 150px;
    margin: 0 50px 0 0px;
    }

/*----------------------tabla inicio imagen sinopsis------------------*/
main{
margin: 0 0 0 50px;
}
.tabla{
align-items: center;
background-size: cover;
display: flex;
margin: 5px;
}
#portal{
width: 750px;
padding: 0%;
margin: 0% auto;
}
#sinopsis{
font-size: 27px;
color: white;
align-content: left;
text-align: center;
font-family: RickMorty1;
height: 0%;
width: 500px;
padding: 5px;
align-items: center;
margin: 5px;
background-color: black;
border-radius: 5px;
border-style:groove;
border-width: 14px;
box-sizing: border-box;
border-color: aqua;
line-height: 35px;
}

  /*----------------------personajes------------------*/
  #contenedorTodosLosPersonajes{
    margin: 0px, 10px, 0, 10px;
  }
  /*cajita de personaje*/
  .divPersonajeJs{
    background-color: black;
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 5px;
    border-style:groove;
    border-width: 14px;
    box-sizing: border-box;
    border-color: aqua;
    /*este display sirvio para centrar el cuadro i la info de dentro*/
    display:-webkit-inline-box;
    align-items:center;
  }
  .imagenPersonajeJs{
    width: 180px;
    border-radius: 200px;
    box-shadow: 0 0 4rem rgba(0, 255, 255, 0.936);
    align-content: center;
    margin: 15px;
  }
  .nombrePersonajeJs{
    font-size: 25px;
    color: rgb(0, 255, 26);
    font-family: letrarick;
    text-shadow: 3px 3px 3px rgba(0, 255, 255, 0.73);
    align-content: center;
    display: inline-block;
  }
  #identificacionPersonajes{
    background-color: yellow;
    width: 200px;
    height: 200px;
    text-align: left;
    border-style: inset;
    border-width: 10px;
    box-sizing: border-box;
    border-color: aqua;
}
#tablaInfopersonajes{
  background-color: aliceblue;
  text-align: left;
  align-items:center;
  line-height: 40px;
  display: grid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 300px;
  border-spacing: 5px;
  
}

  /*----------------------episodios------------------*/
  .contenedorEpisodios{
    display: block;
    margin: 2%;
    align-content: center;
  }
  .episodiosTitulo{
    font-size: 50px;
    color: rgb(0, 255, 26);
    font-family: letrarick;
    text-shadow: 5px 5px 5px rgba(0, 255, 255, 0.73);
    align-content: center;
    padding: 20px;
  }
  .tablaEpisodios{
    font-family: RickMorty1;
    font-size: 30px;
    color: white;
    display: -webkit-inline-box;
    background-color: black;
    border-radius: 5px;
    border-style:groove;
    border-width: 14px;
    box-sizing: border-box;
    border-color: aqua;
    align-items:center;
    line-height: 40px;
  }
  #infoFlotante{
    background-color:rgb(0, 255, 255);
    border-radius: 20px;
    padding: 25px;
    left: 10%;
    right: 10%;
    position:fixed;
    top: 25%;
    display: none;
    justify-content: center;
    text-align: center;
    font-family: letraRick;
    font-size: 25px;
    color: black;
    line-height: 50px;
    letter-spacing: 5px;
    border-radius: 5px;
    border-style:groove;
    border-width: 14px;
    box-sizing: border-box;
    border-color: rgb(0, 255, 26);
  }
  #cerrar{
    width: 25px;
    height: 25px;
    background: url(imagenes/x.png);
    float: right;
  }
  #imagenCerrar{
    width: 25px;
    height: 25px;
    background: url(imagenes/x.png);
    float: right;
  }

/*----------------------footer------------------*/
footer{
  background-color:rgba(0, 0, 0, 0.441);
  text-align: center;
  padding: 10px;
  position: absolute;
  width: 100%;

 
}
#textofooter{
  font-family:letrarick;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  color:white;
  text-shadow: 3px 3px 3px rgba(0, 255, 255, 0.73);
}
#img_footer{
  border-radius: 70px;
  width: 35px;
  align-items: center;
  }

      /*----------------------planetas------------------*/
#imagenPlanetas{
  width: 300px;
  height: auto;
}
#contenedorPlaneta{
  background-color: hotpink;
  width: 400px;
  border-style: inset;
  border-width: 10px;
  box-sizing: border-box;
  border-color: aqua;
}









  
